// ─── CSS Reset ─────────────────────────────────────────────────
// Normalizace výchozích stylů prohlížeče.

.pb-module {
	font-size: var(--pb-base-font-size);
}

.pb-module *,
.pb-module *::before,
.pb-module *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.pb-module * {
	line-height: var(--pb-line-height-normal);
	letter-spacing: 0.3px;
	font-family: var(--pb-font-primary);
}

.pb-module p,
.pb-module a,
.pb-module small,
.pb-module span,
.pb-module li {
	font: inherit;
}

.pb-module button {
	border: none;
	cursor: pointer;
}

.pb-module input,
.pb-module textarea,
.pb-module select {
	outline: none;
	font: inherit;
}

.pb-module select {
	background-color: transparent;
	border: none;
	cursor: inherit;
}

.pb-module img,
.pb-module svg {
	display: block;
	max-width: 100%;
}

.pb-module ul,
.pb-module ol {
	list-style: none;
}