// ─── CSS Reset ─────────────────────────────────────────────────
// Normalizace výchozích stylů prohlížeče.

.ai-module {
	font-size: var(--base-font-size);
}

.ai-module *,
.ai-module *::before,
.ai-module *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.ai-module * {
	line-height: var(--line-height-normal);
	letter-spacing: 0.3px;
	font-family: var(--font-primary);
}

.ai-module p,
.ai-module a,
.ai-module small,
.ai-module span,
.ai-module li {
	font: inherit;
}

.ai-module button {
	border: none;
	cursor: pointer;
}

.ai-module input,
.ai-module textarea,
.ai-module select {
	outline: none;
	font: inherit;
}

.ai-module select {
	background-color: transparent;
	border: none;
	cursor: inherit;
}

.ai-module img,
.ai-module svg {
	display: block;
	max-width: 100%;
}

.ai-module ul,
.ai-module ol {
	list-style: none;
}