// ─── CSS Reset ─────────────────────────────────────────────────
// Normalizace výchozích stylů prohlížeče.

html {
	font-size: var(--base-font-size);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

* {
	line-height: var(--line-height-normal);
	letter-spacing: 0.3px;
	font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6, p, a, small, span, li {
	font: inherit;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	font: inherit;
	color: inherit;
}

input, textarea, select {
	outline: none;
	font: inherit;
}

select {
	background-color: transparent;
	border: none;
	cursor: inherit;
}

img, svg {
	display: block;
	max-width: 100%;
}

ul, ol {
	list-style: none;
}